:root {
  --primary-text-color: #212121;
  --title-text-color:  #757575;
  --accent-color: #2196F3;
  --primary-white-color: #FFFFFF;
  --primary-background: #E5E5E5;
  --optimal-transition:  cubic-bezier(0.4, 0, 0.2, 1)
;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0 auto;
  padding: 0;
}

.img {
  max-width: 100%;
  display: block;
  height: auto;
}

body {
  color: var(--primery-text-color);
  font-family: Roboto;
  background-color: var(--primary-white-color);
  cursor: pointer;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.link:hover, .link:link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.list {
  list-style: none;
}

.header_nav, .header-logo, .contacts, .footers_button {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button {
  border-radius: 4px;
  display: inline-block;
  border: 1px solid transparent;
  transition: 250ms var(--optimal-transition);
}

.button:hover, .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  height: auto;
  border-bottom: 1px solid #ECECEC;
}

.main-nav {
  display: flex;
}

.logo {
  text-decoration: none;
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo_black {
  color: #000;
}

.header-logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.page-header {
  display: flex;
}

.page-item {
  margin-right: 50px;
}

.page-item:last-child {
  margin-right: 0;
}

.page-item_nav {
  display: block;
  position: relative;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: 250ms var(--optimal-transition);
}

.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  margin-top: 31px;
  border-radius: 2px;
  background-color: var(--accent-color);
  display: block;
}

.contacts {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
  margin-right: 0;
}

.contacts_nav {
  display: block;
  font-size: 14px;
  line-height: 1.09;
  padding-left: 50px;
  color: var(--title-text-color);
  transition: 250ms var(--optimal-transition);
}

.navigation {
  box-sizing: border-box;
  margin-right: 10px;
  fill: currentColor;
}

.link > .navigation:focus,
.link > .navigation:hover {
  color: currentColor;
}

.border {
  border-bottom: transparent;
}

.projects {
  padding-top: 0px;
}

.projects_button {
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  min-width: 73px;
  border: 1px solid transparent;
  background-color: #F5F4FA;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.62;
  text-align: center;
}

.buttons-block {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 56px;
}

.projects_item:not(:last-child) {
  margin-right: 8px;
}

.projects_item:hover,
.projects_item:focus {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.text-block {
  display: inline-block;
}

.projects_icon {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects_icon > .projects_icons-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.projects_icons-item {
  display: block;
  max-width: 370px;
  border: 1px solid #EEEEEE;
}

.projects_icons-item:nth-child(3n) {
  margin-right: 0px;
}

.projects_icons-item:focus, .projects_icons-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects_link {
  display: block;
  margin: 0;
  max-width: 370px;
  max-height: 294px;
}

.text-wrapper {
  position: relative;
  overflow: hidden;
}

.top-text {
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms var(--optimal-transition);
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
}

.projects_icons-item:hover .top-text {
  transform: translateY(0%);
}

.projects_title {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
}

.projects_text {
  padding: 4px 24px 20px 24px;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.footer {
  max-width: 1600px;
  display: flex;
  height: 252px;
  margin: 0 auto;
  background-color: #2F303A;
}

.footer_page {
  display: flex;
}

.footer_set {
  padding-top: 60px;
}

.logo_white {
  color: var(--primary-white-color);
}

.address-footer {
  padding-top: 20px;
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.link-footer {
  padding-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}

.footer_social-set {
  padding-left: 70px;
  padding-top: 72px;
}

.footer_title {
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-white-color);
}

.footer_actions {
  display: flex;
  justify-items: center;
}

.footer_item {
  display: flex;
  margin-right: 10px;
}

.footer_social {
  width: 44px;
  height: 44px;
  padding: 12px 12px 12px 12px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
  transition: 250ms var(--optimal-transition);
}

.footer_social:hover, .footer_social:focus {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

.footer_social:last-child {
  padding-right: 0px;
}

.footer_social_icon {
  width: 20px;
  height: 20px;
}

.email-section {
  padding-left: 93px;
}

.user-email {
  min-width: 358px;
  min-height: 50px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px solid rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 1.25;
  background-color: #2F303A;
}

.footers_button {
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px solid rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  fill: var(--primary-white-color);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.icon-telegram {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
/*# sourceMappingURL=portfolio.css.map */